@{
    ViewData["Title"] = "Da Cod Fatha - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="HeroMain">
   <h1>You Have Come to Visit Da Cod Fatha</h1>
    <h2>You Know I Have The Fish You Need</h2>
</div>

<div class="HeroProd">

</div>

<div class="HeroPromo">

</div>