@{
    ViewData["Title"] = "Da Cod Fatha - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<DaCodFatha.Models.Newsletter>

<div class="container">
    <h3 class="mem-list">List of Newsletter Members</h3>

    <hr />
    <hr />


@if (Model!=null)
{

    foreach (var listmem in Model)
    {
        <h4>@Html.DisplayFor(modelItem => listmem.Email)</h4>
        <h4>@Html.DisplayFor(modelItem => listmem.FavFish)</h4>

            <hr />
    }
}
else
{
    <h4>No Members Added to Newsletter Yet</h4>
}

<h4>@Html.ActionLink("Home", "Index", "Main")</h4>
<h4>@Html.ActionLink("Back to Admin Page", "Index", "Account")</h4>
</div>
